* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}
img {
  vertical-align: top;
}
/**Header**/
header .menu-main {
  background-color: #AE1F23;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 94px;
  border-bottom: 1px solid #231F20;
}
header .menu-main .logo {
  max-width: 3.125rem;
  padding: 0.5625rem;
}
header .menu-main .logo img {
  max-height: 50px;
}
header .menu-main .menu a {
  padding: 0.625rem;
  text-decoration: none;
  color: #231F20;
  text-transform: uppercase;
}
header .menu-main .menu a:hover {
  color: white;
  background-color: #231F20;
  border-bottom: 2px solid white;
}
/**Banner Main**/
.banner {
  width: 100%;
  height: 500px;
  background-image: url(../img/banner.JPG);
  background-size: cover;
}
.banner > div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.call-action {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.call-action h2 {
  font-size: 40px;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  width: 100%;
  max-width: 470px;
}
.call-action a {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  padding: 10px 50px;
  text-decoration: none;
  background-color: rgba(174, 31, 35, 0.8);
  border-radius: 50px;
  margin-top: 35px;
}
.call-action a:hover {
  background-color: #231F20;
  color: #AE1F23;
}
/**About US**/
.us {
  padding-bottom: 80px;
}
.us > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.lightbox {
  width: 100%;
  max-width: 570px;
  background-image: url(../img/enrage.jpg);
  background-size: cover;
  border: 5px solid black;
  border-radius: 50px;
  cursor: pointer;
}
.overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.overlay p {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 20%;
}
.overlay:hover {
  opacity: 1;
}
.conocenos {
  text-align: center;
  padding: 15px 0px;
  max-width: 570px;
}
.conocenos p:nth-child(1) {
  font-size: 30px;
  color: black;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.conocenos h3 {
  padding-top: 20px;
  padding-bottom: 30px;
  color: #AE1F23;
  font-size: 18px;
}
.conocenos p:nth-child(3) {
  font-size: 14px;
  color: black;
  padding-bottom: 25px;
}
.conocenos p:nth-child(4) {
  font-size: 14px;
  color: black;
  padding-bottom: 20px;
}
.conocenos a {
  font-size: 15px;
  color: #AE1F23;
}
@media all and (min-width: 769px) {
  .us {
    padding-top: 80px;
  }
  .img-team {
    margin-right: 25px;
  }
  .conocenos {
    padding-left: 25px;
    text-align: left;
  }
}
/**Productos**/
.products {
  background-color: #AE1F23;
  padding: 5.625rem 0;
}
.products .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.products .container .col {
  width: 50%;
}
.products .container .col.izq {
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.products .container .col .titulo-section {
  padding: 3.125rem;
  padding-right: 0;
}
.products .container .col .titulo-section h2 {
  color: white;
}
.products .container .col .titulo-section p {
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 1.125rem;
  font-size: 1.125rem;
  line-height: 1.75;
}
.products .container .col .titulo-section p.last-child {
  padding-bottom: 0;
}
.products .container .col .slider {
  width: 400%;
  display: flex;
}
.products .container .col .slider .slide {
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
}
.products .container .col .slider .slide.foto1 {
  background-image: url('../img/slider/img_1.JPG');
}
.products .container .col .slider .slide.foto2 {
  background-image: url('../img/slider/img_2.JPG');
}
.products .container .col .slider .slide.foto3 {
  background-image: url('../img/slider/img_3.JPG');
}
.products .container .col .slider .slide.foto4 {
  background-image: url('../img/slider/img_4.JPG');
}
/**Servicios**/
.services {
  padding: 5.625rem 0;
}
.services .container .titulo h2 {
  color: #AE1F23;
  text-align: center;
}
.services .container .container-menu {
  margin-top: 2.5rem;
}
.services .container .container-menu .encabezado {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.services .container .container-menu .encabezado li a {
  font-size: 0.75rem;
  padding: 0 1.4375rem 1.125rem 1.4375rem;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: black;
}
.services .container .container-menu .encabezado li a:hover {
  color: #AE1F23;
}
.services .container .container-menu .encabezado li.active a {
  color: #AE1F23;
  border-bottom: 2px solid #AE1F23;
}
.services .container .container-menu .contenido {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  border: 6px double #AE1F23;
  padding: 0 2.25rem;
}
.services .container .container-menu .contenido > div {
  display: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services .container .container-menu .contenido .active {
  display: block;
}
.services .container .container-menu .contenido .item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 2.25rem 0;
  border-bottom: 1px solid #AE1F23;
}
.services .container .container-menu .contenido .item .col-izq {
  width: 70%;
}
.services .container .container-menu .contenido .item .col-izq h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}
.services .container .container-menu .contenido .item .col-izq p {
  font-size: 3rem;
  color: #777;
}
.services .container .container-menu .contenido .item .col-der {
  width: 30%;
  text-align: center;
  font-size: 2.1875rem;
}
/**Footer**/
.bot-footer {
  background-color: #231F20;
  height: 30px;
  text-align: center;
}
.bot-footer a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 5px;
}
/*---Efecto Lightbox---*/
.img-modal {
  width: 90%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacitu 0.3s east;
}
.img-modal + i {
  position: absolute;
  top: 2%;
  right: 1%;
  color: black;
  font-size: 2.25rem;
  background: white;
  display: inline-block;
  padding: 0.75rem 0.75rem;
  cursor: pointer;
}
